* {
    box-sizing: border-box;
}


/*================*/
    /*logo image*/
/*================*/

#logo-image img{
    width: 200px;
    height: 200px;
    border: 1px solid #000; /*Change to white later*/
    margin-left: 25%;
}

/*========================*/
    /*score section*/
/*=======================*/

.score-container {
    border: 1px solid black; 
    display: inline-block;
    width: 250px;
}

/*========================*/
    /*questions section*/
/*=======================*/
.question-container {
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

.question {
    border: 1px solid black;
    width: 500px;
    height: 100px;
}